<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ company_name }}</title>
</head>
<body>
    <h1>{{ company_name }}</h1>
    <p>Application environment: {{ application_environment }}</p>
    <p>Server: {{ inventory_hostname }}</p>
    <p>Managed by Ansible</p>
</body>
</html>
